<div class="form-search mt-4">
    <form>
  <div class="form-group">
    <label for="search-information">form tìm kiếm</label>
    <input type="text" name="alt" class="form-control" id="search-information" placeholder="Nhập đi ngần ngại chi">
  </div>
 
  <button type="submit" class="btn btn-primary">tìm kiếm</button>
</form>
</div>